In [2]:
! pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost
  Downloading catboost-1.1.1-cp38-none-manylinux1_x86_64.whl (76.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 76.6/76.6 MB 11.9 MB/s eta 0:00:00
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from catboost) (3.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.22.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.8/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (23.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (8.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->catboost) (1.4.4)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from plotly->catboost) (8.2.1)
Installing collected packages: catboost
Successfully installed catboost-1.1.1

In [3]:
import numpy as np
import pandas as pd

from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error
from scipy.sparse import hstack

In [4]:
df = pd.read_csv('data.csv')

In [7]:
df

,title,city,marker_icon,workplace_type,company_name,experience_level,skills,contract_type,from,to
0,Mid iOS Developer,Wrocław,mobile,remote,CRED,mid,iOS Combine Swift,b2b,20000.0,26000.0
1,PHP Web Developer - Symfony,Warszawa,php,remote,digatus,mid,API PHP,b2b,15000.0,23000.0
2,PHP Web Developer - Symfony,Warszawa,php,remote,digatus,mid,API PHP,permanent,13000.0,20000.0
3,IT Security Engineer,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,Linux Cybersecurity SIEM,permanent,13000.0,18000.0
4,IT Security Engineer,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,Linux Cybersecurity SIEM,b2b,13000.0,18000.0
...,...,...,...,...,...,...,...,...,...,...
12001,Adobe Developer,Wrocław,other,remote,Experis Manpower Group,senior,Adobe Campaign Adobe Target,b2b,26880.0,30240.0
12002,Mid Python Developer,Wrocław,python,remote,sky gate,mid,Django GitFLow Git,b2b,8000.0,16000.0
12003,Mid Flutter Developer,Gdańsk,mobile,partly_remote,sky gate,mid,REST API GitHub Flutter,permanent,9000.0,18000.0
12004,Mid React Developer,Gdańsk,javascript,remote,sky gate,mid,GitHub React JavaScript,permanent,9000.0,18000.0
12005,Senior Java Developer,Gliwice,java,remote,Devire,senior,JPA Java EE Java,b2b,21840.0,26880.0

In [5]:
cat_features = [
    'city',
    'marker_icon',
    'workplace_type',
    'company_name',
    'experience_level',
    'contract_type'
]

text_features = [
    'title',
    'skills'
]

In [6]:
X, y_from, y_to = df.drop(['from', 'to'], axis=1), df['from'], df['to']

In [10]:
X.shape

(12006, 8)

In [11]:
y_from.shape

(12006,)

In [5]:
X_from_train, X_from_valid, y_from_train, y_from_valid = train_test_split(X, y_from, test_size=0.2, random_state=42)

In [6]:
X_to_train, X_to_valid, y_to_train, y_to_valid = train_test_split(X, y_to, test_size=0.2, random_state=42)

In [14]:
X_from_train.head()

,title,city,marker_icon,workplace_type,company_name,experience_level,skills,contract_type
7623,Cloud Network Engineer in Security,Gdańsk,security,remote,Codilime,senior,Public Clouds Networks Firewall,b2b
6118,Analityk Danych,Sopot,analytics,office,Baukrane Sp. z o. o.,mid,Power BI power qu SQL,permanent
2755,Regular QA Specialist,Poznań,testing,remote,Merixstudio,mid,Test Automation Web Applications Manual Testing,b2b
6431,DevOps Engineer (AWS/pharma),Łódź,devops,remote,7N,senior,Terraform CI/CD Kubernetes,b2b
288,Senior Java Cloud Developer,Warszawa,java,partly_remote,DahliaMatic Sp. z o.o.,senior,IT studies Java Polish,b2b

# Train models without text features

## Catboost

In [117]:
# one-hot max size
model = CatBoostRegressor(iterations=10000, cat_features=cat_features, verbose=500)

In [118]:
model.fit(X_from_train.drop(['title', 'skills'], axis=1), y_from_train, eval_set=(X_from_valid.drop(['title', 'skills'], axis=1), y_from_valid))

Learning rate set to 0.01783
0:	learn: 6348.6539752	test: 6138.3083520	best: 6138.3083520 (0)	total: 37.3ms	remaining: 6m 12s
500:	learn: 3153.6980013	test: 2897.5014702	best: 2897.5014702 (500)	total: 4.72s	remaining: 1m 29s
1000:	learn: 2837.8061577	test: 2670.1119744	best: 2670.1119744 (1000)	total: 8.83s	remaining: 1m 19s
1500:	learn: 2671.9482062	test: 2564.0570780	best: 2564.0570780 (1500)	total: 14.5s	remaining: 1m 21s
2000:	learn: 2554.0324965	test: 2495.4932826	best: 2495.4445325 (1999)	total: 18.5s	remaining: 1m 13s
2500:	learn: 2456.8759361	test: 2442.2758135	best: 2442.2758135 (2500)	total: 22.6s	remaining: 1m 7s
3000:	learn: 2369.5927369	test: 2392.2293679	best: 2392.2293679 (3000)	total: 28.1s	remaining: 1m 5s
3500:	learn: 2294.3006641	test: 2352.1104219	best: 2352.1104219 (3500)	total: 32.2s	remaining: 59.7s
4000:	learn: 2227.4802116	test: 2325.4105105	best: 2325.2266606 (3991)	total: 37.7s	remaining: 56.5s
4500:	learn: 2168.8492483	test: 2298.3561528	best: 2298.3561528 (4500)	total: 41.7s	remaining: 50.9s
5000:	learn: 2110.0416772	test: 2273.8928789	best: 2273.8928789 (5000)	total: 45.7s	remaining: 45.7s
5500:	learn: 2059.3557175	test: 2254.6081713	best: 2254.5568911 (5497)	total: 51.2s	remaining: 41.9s
6000:	learn: 2008.5745753	test: 2235.1917071	best: 2235.1917071 (6000)	total: 55.3s	remaining: 36.8s
6500:	learn: 1957.8564194	test: 2215.9422081	best: 2215.9422081 (6500)	total: 59.3s	remaining: 31.9s
7000:	learn: 1913.7838784	test: 2200.0448273	best: 2200.0448273 (7000)	total: 1m 4s	remaining: 27.8s
7500:	learn: 1873.4334978	test: 2185.5471997	best: 2185.5344019 (7499)	total: 1m 8s	remaining: 22.9s
8000:	learn: 1834.7482275	test: 2171.4166660	best: 2171.3311574 (7988)	total: 1m 12s	remaining: 18.2s
8500:	learn: 1801.4843247	test: 2164.0701596	best: 2164.0701596 (8500)	total: 1m 18s	remaining: 13.8s
9000:	learn: 1767.1263917	test: 2155.8636424	best: 2155.8561391 (8999)	total: 1m 22s	remaining: 9.13s
9500:	learn: 1734.8480849	test: 2147.9615441	best: 2147.9419352 (9497)	total: 1m 27s	remaining: 4.6s
9999:	learn: 1704.4957271	test: 2140.6533162	best: 2140.6377044 (9997)	total: 1m 31s	remaining: 0us

bestTest = 2140.637704
bestIteration = 9997

Shrink model to first 9998 iterations.

In [119]:
pd.DataFrame({'feature_name': model.feature_names_, 'feature_importance': model.feature_importances_})

       feature_name  feature_importance
0              city            3.655172
1       marker_icon           20.311147
2    workplace_type            6.825231
3      company_name           33.177337
4  experience_level           23.450636
5     contract_type           12.580476

In [120]:
y_from_pred = model.predict(X_from_valid.drop(['title', 'skills'], axis=1))

In [121]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   20542.071464       21000.0
10643   9696.035126        8500.0
9351   23720.049273       25000.0
7872   18065.290277       17000.0
360    16463.185653       20800.0
...             ...           ...
5786   25688.330406       28000.0
1195   23780.730908       36000.0
7606   18441.998702       17000.0
7628   11062.075455       11000.0
10910   8754.732176        8600.0

[2402 rows x 2 columns]

In [122]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

2140.6377043720227

## RF

In [7]:
X_ohe = pd.get_dummies(X.drop(['title', 'skills'], axis=1))

In [8]:
X_ohe.head()

,city_96-321 Musuły,city_Aleksandrów Łódzki,city_Andrespol,city_Augustów,city_Balice,city_Berlin,city_Białystok,city_Białystok,city_Bielany Wrocławskie,city_Bielsko-Biała,...,company_name_summ-it,company_name_superdevs,company_name_travactory N.V.,company_name_Świat Kwiatów,experience_level_junior,experience_level_mid,experience_level_senior,contract_type_b2b,contract_type_mandate_contract,contract_type_permanent
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0

In [131]:
X_ohe_from_train, X_ohe_from_valid, y_from_train, y_from_valid = train_test_split(X_ohe, y_from, test_size=0.2, random_state=42)

In [132]:
rf = RandomForestRegressor(n_estimators=300)

In [135]:
rf.fit(X_ohe_from_train, y_from_train)

RandomForestRegressor(n_estimators=300)

In [137]:
y_from_pred = rf.predict(X_ohe_from_valid)

In [138]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   20169.222222       21000.0
10643   8500.000000        8500.0
9351   24930.000000       25000.0
7872   16646.500000       17000.0
360    12448.333333       20800.0
...             ...           ...
5786   28000.000000       28000.0
1195   21585.316667       36000.0
7606   16879.000000       17000.0
7628   11061.266667       11000.0
10910   8917.000000        8600.0

[2402 rows x 2 columns]

In [139]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1957.481172859356

## LinearRegression

In [166]:
lr = Lasso(alpha=0.1)

In [167]:
lr.fit(X_ohe_from_train, y_from_train)

Lasso(alpha=0.1)

In [168]:
y_from_pred = lr.predict(X_ohe_from_valid)

In [169]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   23394.789451       21000.0
10643   8580.594817        8500.0
9351   20325.354301       25000.0
7872   15961.225001       17000.0
360    21167.939504       20800.0
...             ...           ...
5786   27933.569782       28000.0
1195   25310.270911       36000.0
7606   15929.931048       17000.0
7628   13734.344775       11000.0
10910   9806.680637        8600.0

[2402 rows x 2 columns]

In [170]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

2618.9630043723346

# Train models with text features

## Get sparse matrices

In [9]:
vectorizer = TfidfVectorizer()

In [10]:
skills_matrix = vectorizer.fit_transform(df.skills)

In [11]:
skills_matrix

<12006x885 sparse matrix of type '<class 'numpy.float64'>'
	with 42232 stored elements in Compressed Sparse Row format>

In [12]:
vectorizer.get_feature_names_out()

array(['10', '11', '13', '14', '15', '16', '17', '18', '360', '365', '3d',
       '4g', '4hana', '5g', 'aad', 'abap', 'access', 'active', 'adas',
       'adf', 'administration', 'adobe', 'agile', 'ai', 'airflow', 'ajax',
       'akeneo', 'akka', 'aks', 'algorithms', 'alto', 'amazon',
       'analityczne', 'analityka', 'analiza', 'analysis', 'analytical',
       'analytics', 'and', 'android', 'angielski', 'angular', 'angular12',
       'angularjs', 'ansible', 'any', 'apache', 'apex', 'api', 'apis',
       'aplication', 'app', 'appium', 'application', 'applications',
       'apps', 'aqa', 'archimate', 'architect', 'architecture', 'arm',
       'articulate', 'artifactory', 'aruba', 'as', 'as400', 'asp',
       'asset', 'assurance', 'async', 'atlassian', 'aurora',
       'authorization', 'automate', 'automated', 'automation', 'autosar',
       'av', 'avalonia', 'await', 'aws', 'axiom', 'axiomsl', 'axure',
       'azure', 'b2', 'backend', 'background', 'backlog', 'banking',
       'bash', 'basic', 'bazy', 'bdd', 'be', 'bi', 'bid', 'big',
       'bigdata', 'bigquery', 'binding', 'bioinformatics', 'biznesowa',
       'bloc', 'blockchain', 'bloodhound', 'blue', 'boost', 'boot',
       'bootstrap', 'bpm', 'bpmn', 'bps', 'brokers', 'browser', 'bucket',
       'building', 'buildkite', 'burp', 'bus', 'business', 'bw', 'caf',
       'campaign', 'cap', 'carthage', 'case', 'cases', 'cassandra',
       'ccna', 'ccnp', 'cd', 'cdh', 'cdk', 'ce', 'center', 'centos',
       'central', 'certificate', 'channeles', 'checkmk', 'checkpoint',
       'ci', 'cicd', 'cisco', 'cissp', 'ck', 'clean', 'cli', 'clickhouse',
       'client', 'cloud', 'cloudera', 'cloudformation', 'clouds',
       'cluster', 'cmake', 'cms', 'co', 'coaching', 'coat', 'cobol',
       'cocoapods', 'code', 'combine', 'commerce', 'communication',
       'compose', 'composer', 'computer', 'computing', 'concepts',
       'concurrent', 'conducting', 'confluence', 'consulting',
       'containerisation', 'continuous', 'contract', 'corda', 'cordova',
       'core', 'coreos', 'coroutines', 'couchbase', 'cpanel', 'cpe',
       'cqrs', 'creative', 'crm', 'csa', 'csrm', 'css', 'css3',
       'cucumber', 'customer', 'cybersecurity', 'cypress', 'danych',
       'dart', 'data', 'databases', 'databricks', 'datadog', 'dax', 'db',
       'dbms', 'dbt', 'debian', 'defi', 'defining', 'delivery', 'delphi',
       'deployment', 'design', 'designer', 'detail', 'development',
       'devops', 'devsecops', 'dhcp', 'digital', 'directory',
       'distributed', 'django', 'dns', 'docker', 'doctrine',
       'dokumentacji', 'domain', 'drf', 'driven', 'drupal', 'drupal8',
       'dvb', 'dwh', 'dynamics', 'ec2', 'eclipse', 'ecmascript',
       'ecommerce', 'ecs', 'editor', 'ee', 'ef', 'elasticsearch', 'elk',
       'embedded', 'end', 'endpoint', 'engine', 'engineer', 'engineering',
       'english', 'enterprise', 'entity', 'erp', 'es6', 'es7', 'esnext',
       'etl', 'ewm', 'exadata', 'excel', 'exchange', 'experience',
       'express', 'facebook', 'factors', 'factory', 'fastapi', 'fi',
       'figma', 'finanse', 'fiori', 'firewall', 'flask', 'flink',
       'fluent', 'flutter', 'forms', 'fortigate', 'fortinet', 'framer',
       'framework', 'frameworks', 'french', 'front', 'fs', 'full',
       'fullstack', 'funkcjonalne', 'fuseki', 'fx', 'gcp', 'german',
       'gimp', 'gira', 'gis', 'git', 'gitflow', 'github', 'gitlab',
       'gitops', 'glue', 'gmock', 'gnu', 'go', 'golang', 'golden',
       'goldenpaths', 'google', 'googleworkspace', 'gosu', 'governance',
       'gpo', 'gradle', 'graph', 'graphics', 'graphql', 'groovy', 'gsp',
       'gstreamer', 'gui', 'hadoop', 'hana', 'hardware', 'hat', 'hcm',
       'hdfs', 'helpdesk', 'hevo', 'hibernate', 'hig', 'hil', 'holder',
       'hotjar', 'hr', 'hrm', 'htm', 'html', 'html5', 'http', 'hybris',
       'hyper', 'ibm', 'icinga', 'ide', 'identity', 'ids', 'ii',
       'illustrator', 'implementation', 'in', 'incident', 'indesign',
       'information', 'infrastructure', 'inkscape', 'integration',
       'intel', 'intelligence', 'interface', 'invision', 'io', 'ios',
       'ip', 'ips', 'iptv', 'iso', 'istqb', 'it', 'itil', 'itom', 'itsm',
       'iu5', 'j2ee', 'j2se', 'jakartaee', 'jamf', 'java', 'javascript',
       'jbase', 'jenkins', 'jest', 'jetpack', 'jfs', 'jira', 'jmeter',
       'jpa', 'jquery', 'js', 'json', 'jsp', 'juniper', 'junit', 'jvm',
       'język', 'kafka', 'kanban', 'karka', 'keras', 'kibana', 'klientów',
       'knowledge', 'komunikacja', 'komunikatywność', 'konfiguracja',
       'kotlin', 'księgowość', 'kubernetes', 'l1', 'l2', 'l3', 'lake',
       'lan', 'language', 'laravel', 'leadership', 'lean', 'learn',
       'learning', 'lightning', 'linux', 'looker', 'ls', 'lua', 'lwc',
       'lxc', 'm365', 'mac', 'machine', 'macos', 'magento', 'mainframe',
       'management', 'manager', 'managment', 'manual', 'mariadb',
       'master', 'material', 'maths', 'matlab', 'maui', 'maven',
       'maxipanel', 'mdm', 'mern', 'message', 'metasploit', 'mfc',
       'microintegrator', 'microservice', 'microservices', 'microsoft',
       'miro', 'mitre', 'mobile', 'mockups', 'modeling', 'modelling',
       'modern', 'mongodb', 'monitoring', 'monolith', 'mr', 'ms', 'ms365',
       'mulesoft', 'murex', 'mvc', 'mvi', 'mvvm', 'mysql', 'myślenie',
       'native', 'nest', 'nestjs', 'net', 'netsuite', 'network',
       'networking', 'networks', 'new', 'nex', 'next', 'ngfw', 'ngrx',
       'niemiecki', 'nist', 'nlp', 'node', 'nosql', 'notion', 'now',
       'numpy', 'nunit', 'o2c', 'object', 'objective', 'objects',
       'observability', 'octopus', 'odata', 'office', 'okd', 'on', 'oo',
       'oop', 'oops', 'open', 'opencv', 'opengl', 'openshift',
       'opensource', 'openstack', 'operating', 'opsgenie', 'or', 'oracle',
       'organization', 'oriented', 'orm', 'os', 'other', 'ott',
       'overseeing', 'owasp', 'owner', 'pagerduty', 'palo', 'pandas',
       'parquet', 'paths', 'patterns', 'penetration', 'people', 'percona',
       'photoshop', 'php', 'php7', 'phpunit', 'pim', 'pipelines', 'pixel',
       'pixijs', 'pl', 'planning', 'plans', 'platform', 'player',
       'playwright', 'plsql', 'pm', 'point', 'polish', 'polski',
       'portfolio', 'post', 'postgresql', 'postman', 'postresql', 'power',
       'powerbi', 'powershell', 'pozyskiwanie', 'praca', 'preferably',
       'preparation', 'preprocessors', 'presales', 'presentations',
       'prestashop', 'previous', 'prince', 'prince2', 'principles', 'pro',
       'proactivity', 'problem', 'procesing', 'process', 'processes',
       'processing', 'product', 'products', 'programming', 'project',
       'promotion', 'protocol', 'protocols', 'prototyping', 'protractor',
       'psm', 'public', 'puppet', 'pwa', 'pyhton', 'pyqt', 'pyspark',
       'pytest', 'pyth', 'python', 'pyton', 'pytorch', 'qa', 'qlik', 'qu',
       'quality', 'quasar', 'query', 'rabbitmq', 'rails', 'ran',
       'rancher', 'rdbms', 'rds', 'react', 'reactive', 'reactjs', 'real',
       'realm', 'red', 'redis', 'redmine', 'redshift', 'redux',
       'regression', 'relacyjne', 'relational', 'relic', 'remedyforce',
       'replicate', 'reporting', 'requirement', 'requirements',
       'research', 'rest', 'restful', 'retail', 'review', 'roblox',
       'robot', 'role', 'ror', 'routing', 'rpa', 'rspec', 'rtos', 'ruby',
       'rust', 'rwd', 'rxdart', 'rxjava', 'rxjs', 'rxswift', 's3', 'saas',
       'safe', 'salesforce', 'sap', 'sass', 'sast', 'scala', 'scalable',
       'scalatest', 'scenarios', 'science', 'scikit', 'scipy', 'script',
       'scripting', 'scrum', 'scss', 'sd', 'sdk', 'sdlc', 'se', 'secops',
       'securit', 'security', 'selenide', 'selenium', 'sentinel', 'sep',
       'server', 'serverless', 'service', 'servicenow', 'services',
       'sharepoint', 'shell', 'shopware', 'siem', 'sil', 'similar',
       'sketch', 'skills', 'slack', 'smalltalk', 'snowflake', 'soa',
       'soap', 'soapui', 'soar', 'soc', 'software', 'solid', 'solr',
       'solution', 'solving', 'soql', 'source', 'spark', 'specflow',
       'specialist', 'spedtrans', 'spirng', 'splunk', 'spm', 'spock',
       'spring', 'springboot', 'sprintboot', 'sprng', 'sql', 'squish',
       'sre', 'ssas', 'ssdlc', 'ssh', 'ssis', 'ssl', 'sso', 'ssr', 'ssrs',
       'st', 'stack', 'stake', 'statistics', 'stb', 'storefront',
       'stories', 'storyline', 'strategy', 'studies', 'studio', 'styling',
       'success', 'suite', 'support', 'supporting', 'suse', 'swift',
       'swiftui', 'switching', 'switf', 'symfony', 'synapse', 'system',
       'systemowa', 'systems', 'tabelau', 'tableau', 'tableu', 'tag',
       'target', 'tcp', 'tcpdump', 'tdd', 'team', 'teamcity', 'teams',
       'teamwork', 'tech', 'technical', 'technologies', 'technology',
       'tenserflow', 'tensorflow', 'teradata', 'terminal', 'terraform',
       'test', 'testing', 'testlink', 'testng', 'testrail', 'tests',
       'testy', 'tfs', 'the', 'theory', 'thinking', 'threat', 'tibco',
       'time', 'tmsa', 'togaf', 'tomcat', 'tool', 'tools', 'trello',
       'trm', 'troubleshooting', 'tsql', 'twig', 'tworzenie', 'type',
       'typescript', 'uat', 'ubuntu', 'ui', 'ui5', 'uikit', 'uipath',
       'ulkit', 'umbraco', 'uml', 'unit', 'unity', 'unix', 'unreal',
       'user', 'utm', 'ux', 'v10', 'vba', 'verilog', 'vfp',
       'virtualization', 'visio', 'vision', 'visual', 'visualization',
       'vmware', 'vpn', 'vr', 'vue', 'vuex', 'vulkan', 'waf', 'wallets',
       'wan', 'warehouse', 'warehousing', 'waterfall', 'wdrożenia', 'web',
       'webcon', 'webdriver', 'webflow', 'webforms', 'webgl', 'webpack',
       'webscraping', 'webservices', 'windows', 'wireframes', 'wireshark',
       'with', 'wlan', 'wms', 'woocommerce', 'word', 'wordpress',
       'working', 'workplace', 'works', 'workshops', 'wpf', 'writing',
       'wso2', 'xamarin', 'xcode', 'xd', 'xenserver', 'xml', 'xray',
       'xtradb', 'yarn', 'zabbix', 'zendesk', 'zespołowa'], dtype=object)

In [13]:
title_matrix = vectorizer.fit_transform(df.title)

In [14]:
title_matrix

<12006x652 sparse matrix of type '<class 'numpy.float64'>'
	with 38269 stored elements in Compressed Sparse Row format>

In [15]:
vectorizer.get_feature_names_out()

array(['100', '2nd', '32420', '32424', '365', '3d', '3rd', '5g', 'aad',
       'abap', 'access', 'account', 'active', 'address', 'admin',
       'administrator', 'adobe', 'aem', 'agency', 'agile', 'ai',
       'akademia', 'akeneo', 'akka', 'algorithmic', 'all', 'analityczka',
       'analityk', 'analyst', 'analytics', 'and', 'android', 'androidów',
       'angular', 'aosp', 'api', 'aplikacji', 'app', 'application',
       'applications', 'apps', 'aps', 'aqa', 'architect', 'architecture',
       'architekt', 'articulate', 'asap', 'asp', 'asset', 'assistant',
       'associate', 'assurance', 'at', 'atlassian', 'auditor', 'automate',
       'automation', 'automatyzujacy', 'automatyzujący', 'automotive',
       'autor', 'autosar', 'aws', 'ax', 'axiomsl', 'azure', 'b2b', 'back',
       'backend', 'background', 'banking', 'based', 'basis', 'baz', 'be',
       'bez', 'bezpieczeństwa', 'bi', 'big', 'billing', 'bioinformatics',
       'biopharma', 'biotech', 'biznesowo', 'biznesowy', 'biznesowych',
       'blazor', 'blockchain', 'blue', 'bpm', 'branża', 'browser',
       'budowlanego', 'bugsnag', 'business', 'cards', 'cat', 'cd', 'ce',
       'center', 'central', 'centre', 'ceo', 'chapter', 'chief', 'ci',
       'classic', 'classification', 'client', 'cloud', 'cloudops', 'cms',
       'co', 'coach', 'coat', 'cobol', 'code', 'colleague', 'collections',
       'commerce', 'commercial', 'comms', 'communications', 'compiler',
       'compilers', 'compliance', 'computer', 'configuration',
       'consulant', 'consultant', 'consulting', 'content', 'contract',
       'controller', 'coordinator', 'corda', 'core', 'crimes', 'cro',
       'customer', 'cv', 'cyber', 'cyberbezpieczeństwa', 'cybersec',
       'cybersecurity', 'człowiek', 'danych', 'data', 'database',
       'databricks', 'dba', 'debit', 'defender', 'delivery', 'delphi',
       'department', 'deployment', 'design', 'designer', 'desk', 'dev',
       'develop', 'developer', 'developera', 'development', 'device',
       'devops', 'devsecops', 'digital', 'directory', 'distribution',
       'django', 'dlt', 'do', 'dokumentacji', 'domain', 'driver',
       'drupal', 'ds', 'dwh', 'dynamics', 'działu', 'e2e', 'ecom',
       'ecomm', 'ecommerce', 'edlund', 'education', 'ee', 'ekspert',
       'elixir', 'embedded', 'emobility', 'end', 'endpoint', 'eng',
       'engine', 'engineer', 'engineering', 'english', 'enterprise',
       'entertainment', 'erp', 'escalation', 'etl', 'executive',
       'experience', 'experienced', 'expert', 'express', 'fast', 'fe',
       'feature', 'fi', 'fin', 'finance', 'financial', 'fintech', 'fiori',
       'flutter', 'focus', 'for', 'forecast', 'forms', 'fpga',
       'framework', 'freelance', 'french', 'front', 'fronted', 'frontend',
       'fulfillment', 'full', 'fullstack', 'fx', 'game', 'gameplay',
       'gaming', 'gcp', 'genders', 'german', 'gier', 'global', 'globus',
       'gms', 'golang', 'governance', 'graphic', 'graphics', 'groovy',
       'growth', 'główny', 'hadoop', 'hana', 'hardware', 'hcl', 'hcm',
       'head', 'helpdesk', 'high', 'hire', 'hr', 'hrm', 'html', 'hub',
       'hw', 'hybrid', 'hybris', 'iam', 'ibm', 'id', 'identity', 'ii',
       'iii', 'implementation', 'in', 'incident', 'industry',
       'informatica', 'information', 'informatycznego', 'informatycznych',
       'infra', 'infrastructure', 'infrastruktury', 'integration',
       'integrations', 'intelligence', 'intermediate', 'intern',
       'internal', 'inżynier', 'inżynierka', 'ios', 'is', 'it', 'itom',
       'java', 'javascript', 'job', 'jquery', 'jr', 'js', 'junior',
       'językiem', 'ka', 'kafka', 'kanadą', 'kierownik', 'komputerowych',
       'konsultant', 'koordynator', 'korepetytor', 'korporacyjny',
       'kotlin', 'kubernetes', 'kursu', 'l2', 'lan', 'laravel', 'lead',
       'leader', 'learn', 'learning', 'level', 'lider', 'line', 'linia',
       'linux', 'live', 'load', 'location', 'looker', 'low', 'ls', 'lub',
       'm365', 'machine', 'magento', 'mainframe', 'management', 'manager',
       'manual', 'manualny', 'market', 'marketingowych', 'master', 'mało',
       'mały', 'mbd', 'media', 'merchant', 'meta', 'microservices',
       'microsoft', 'mid', 'middle', 'middleware', 'migracji', 'mining',
       'ml', 'mlops', 'mobile', 'motoryzacja', 'mrip', 'ms',
       'multiplatform', 'murex', 'mvc', 'młodszy', 'nadzoru', 'native',
       'nest', 'nestjs', 'net', 'netsuite', 'network', 'networking',
       'next', 'nextjs', 'niemieckim', 'nlp', 'node', 'nodejs', 'of',
       'offer', 'offerings', 'office', 'officer', 'on', 'onboarding',
       'one', 'onsite', 'onstore', 'openshift', 'openwrt', 'operacyjnych',
       'operation', 'operations', 'oprogramowania', 'ops', 'opt',
       'optimization', 'option', 'or', 'oracle', 'oraz', 'organów',
       'orkiestra', 'owner', 'part', 'partly', 'payments', 'penetration',
       'pentester', 'pharma', 'php', 'pl', 'platform', 'platforms', 'pmo',
       'poland', 'portfolio', 'postgresql', 'power', 'powerbuilder',
       'poznań', 'practice', 'pre', 'premium', 'presales', 'prestashop',
       'pricing', 'principal', 'problem', 'process', 'procesów', 'prod',
       'product', 'production', 'productivity', 'program', 'programista',
       'programistka', 'programistyczny', 'programmer', 'project',
       'projekcie', 'projektach', 'projektant', 'projektu',
       'psychometrics', 'pwa', 'python', 'qa', 'qc', 'qlik', 'qml',
       'quality', 'quant', 'quarkus', 'query', 'rails', 'rancher',
       'react', 'real', 'reality', 'regular', 'release', 'reliability',
       'remote', 'remotely', 'rendering', 'representative', 'research',
       'researcher', 'responsible', 'retail', 'rnd', 'roblox', 'robot',
       'rollout', 'ror', 'rozwiązań', 'rpa', 'ruby', 'rust', 'safe',
       'safety', 'sales', 'salesforce', 'sap', 'scala', 'scanning',
       'scenariuszy', 'scientist', 'scraper', 'scrum', 'sd', 'sdk',
       'security', 'selenium', 'sen', 'senior', 'ser', 'server',
       'service', 'servicenow', 'services', 'servicing', 'serwisu',
       'sharepoint', 'shopify', 'shopware', 'sieci', 'sieciowe', 'siem',
       'site', 'sitecore', 'skills', 'smalltalk', 'snowflake', 'soa',
       'software', 'solution', 'solutions', 'solver', 'spark', 'spec',
       'specialist', 'specjalista', 'specjalistka', 'spex', 'splunk',
       'spotkań', 'spring', 'sprzętowej', 'sql', 'sr', 'sre', 'stack',
       'staff', 'starszy', 'startup', 'staż', 'stb', 'step', 'storefront',
       'storyline', 'student', 'studio', 'success', 'support', 'suse',
       'sw', 'swe', 'symfony', 'symphony', 'sys', 'sysops', 'system',
       'systemowy', 'systems', 'systemu', 'systemy', 'systemów',
       'szczecin', 'szkolenie', 'tax', 'team', 'tech', 'technical',
       'technicznego', 'technicznej', 'techniczny', 'technology',
       'telcom', 'teleinformatycznych', 'test', 'tester', 'testerka',
       'testing', 'testów', 'the', 'tibco', 'time', 'tls', 'to', 'tools',
       'trading', 'transformation', 'translator', 'travels', 'treasury',
       'trener', 'tribe', 'trust', 'ts', 'tv', 'typescript', 'ui', 'ui5',
       'uipath', 'unit', 'unity', 'unix', 'unreal', 'us', 'user', 'ux',
       'użytkowników', 'vba', 'verification', 'video', 'virtual',
       'vision', 'visual', 'vr', 'vue', 'vulnerability', 'wage', 'wan',
       'want', 'warehouse', 'wdrożeń', 'web', 'webforms', 'webgl',
       'webmaster', 'whiteboards', 'wifi', 'wirtualizacja', 'with',
       'wordpress', 'work', 'workflow', 'working', 'writer', 'wroclaw',
       'wso2', 'wsparcia', 'współpraca', 'wykładowca', 'właściciel',
       'xamarin', 'zdalnie', 'zespołu', 'zone', 'łowca', 'адміністратор',
       'системний'], dtype=object)

In [16]:
text_sparse_matrix = hstack((skills_matrix, title_matrix))

In [17]:
text_sparse_matrix

<12006x1537 sparse matrix of type '<class 'numpy.float64'>'
	with 80501 stored elements in COOrdinate format>

In [45]:
X.drop(['title', 'skills'], axis=1)

,city,marker_icon,workplace_type,company_name,experience_level,contract_type
0,Wrocław,mobile,remote,CRED,mid,b2b
1,Warszawa,php,remote,digatus,mid,b2b
2,Warszawa,php,remote,digatus,mid,permanent
3,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,permanent
4,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,b2b
...,...,...,...,...,...,...
12001,Wrocław,other,remote,Experis Manpower Group,senior,b2b
12002,Wrocław,python,remote,sky gate,mid,b2b
12003,Gdańsk,mobile,partly_remote,sky gate,mid,permanent
12004,Gdańsk,javascript,remote,sky gate,mid,permanent
12005,Gliwice,java,remote,Devire,senior,b2b

In [46]:
pd.DataFrame(text_sparse_matrix.toarray())

,0,1,2,3,4,5,6,7,8,9,...,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
X_text = pd.DataFrame(np.hstack((X.drop(['title', 'skills'], axis=1), text_sparse_matrix.toarray())))

In [60]:
X_text

,0,1,2,3,4,5,6,7,8,9,...,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542
0,Wrocław,mobile,remote,CRED,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Warszawa,php,remote,digatus,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Warszawa,php,remote,digatus,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001,Wrocław,other,remote,Experis Manpower Group,senior,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12002,Wrocław,python,remote,sky gate,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12003,Gdańsk,mobile,partly_remote,sky gate,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12004,Gdańsk,javascript,remote,sky gate,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12005,Gliwice,java,remote,Devire,senior,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
dict(zip(range(0, 6), cat_features))

{0: 'city',
 1: 'marker_icon',
 2: 'workplace_type',
 3: 'company_name',
 4: 'experience_level',
 5: 'contract_type'}

In [63]:
X_text.rename(columns=dict(zip(range(0, 6), cat_features)), inplace=True)

In [64]:
X_text

,city,marker_icon,workplace_type,company_name,experience_level,contract_type,6,7,8,9,...,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542
0,Wrocław,mobile,remote,CRED,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Warszawa,php,remote,digatus,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Warszawa,php,remote,digatus,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Warszawa,security,partly_remote,CloudFerro sp. z o.o.,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001,Wrocław,other,remote,Experis Manpower Group,senior,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12002,Wrocław,python,remote,sky gate,mid,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12003,Gdańsk,mobile,partly_remote,sky gate,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12004,Gdańsk,javascript,remote,sky gate,mid,permanent,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12005,Gliwice,java,remote,Devire,senior,b2b,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
X_text_from_train, X_text_from_valid, y_from_train, y_from_valid = train_test_split(X_text, y_from, test_size=0.2, random_state=42)

In [20]:
X_text_to_train, X_text_to_valid, y_to_train, y_to_valid = train_test_split(X_text, y_to, test_size=0.2, random_state=42)

## Catboost

In [76]:
# regularization and other hyperparams
model = CatBoostRegressor(iterations=1500, cat_features=cat_features, verbose=100)

In [77]:
model.fit(X_text_from_train, y_from_train, eval_set=(X_text_from_valid, y_from_valid))

Learning rate set to 0.056719
0:	learn: 6257.1961980	test: 6050.0835367	best: 6050.0835367 (0)	total: 34.4ms	remaining: 51.6s
100:	learn: 3233.4358992	test: 3030.4447674	best: 3030.4447674 (100)	total: 4.33s	remaining: 1m
200:	learn: 2904.1712088	test: 2753.8727739	best: 2753.8727739 (200)	total: 7.79s	remaining: 50.4s
300:	learn: 2659.7612714	test: 2552.3589476	best: 2552.3589476 (300)	total: 11.1s	remaining: 44.3s
400:	learn: 2494.3780709	test: 2412.4640425	best: 2412.4640425 (400)	total: 14.6s	remaining: 39.9s
500:	learn: 2362.1028281	test: 2303.2001020	best: 2303.2001020 (500)	total: 19.2s	remaining: 38.3s
600:	learn: 2238.6938076	test: 2198.8214910	best: 2198.8214910 (600)	total: 22.6s	remaining: 33.7s
700:	learn: 2138.0712438	test: 2119.8091287	best: 2119.8091287 (700)	total: 25.9s	remaining: 29.5s
800:	learn: 2058.8532475	test: 2052.7598729	best: 2052.7598729 (800)	total: 30.5s	remaining: 26.6s
900:	learn: 1989.2536871	test: 1997.9753583	best: 1997.9753583 (900)	total: 33.8s	remaining: 22.5s
1000:	learn: 1923.8524075	test: 1947.1465716	best: 1947.1465716 (1000)	total: 37.2s	remaining: 18.6s
1100:	learn: 1874.2451129	test: 1912.2166102	best: 1912.2166102 (1100)	total: 41.4s	remaining: 15s
1200:	learn: 1830.6272429	test: 1883.7741113	best: 1883.7741113 (1200)	total: 45.3s	remaining: 11.3s
1300:	learn: 1779.4350464	test: 1850.1074146	best: 1850.1074146 (1300)	total: 48.6s	remaining: 7.44s
1400:	learn: 1733.0596071	test: 1821.6954441	best: 1821.6954441 (1400)	total: 52.1s	remaining: 3.68s
1499:	learn: 1696.0346049	test: 1795.6873013	best: 1795.6873013 (1499)	total: 56.7s	remaining: 0us

bestTest = 1795.687301
bestIteration = 1499

In [71]:
pd.DataFrame({'feature_name': model.feature_names_, 'feature_importance': model.feature_importances_}).head(18)

        feature_name  feature_importance
0               city            0.201636
1        marker_icon            6.861168
2     workplace_type            2.067576
3       company_name           14.078319
4   experience_level           29.457485
5      contract_type            5.910137
6                  6            0.000000
7                  7            0.003986
8                  8            0.038025
9                  9            0.000000
10                10            0.000000
11                11            0.000000
12                12            0.000000
13                13            0.000000
14                14            0.000464
15                15            0.000000
16                16            0.000000
17                17            0.000000

In [78]:
y_from_pred = model.predict(X_text_from_valid)

In [79]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   22521.364534       21000.0
10643   8307.733511        8500.0
9351   22077.373685       25000.0
7872   19233.808448       17000.0
360    15152.964211       20800.0
...             ...           ...
5786   23850.569535       28000.0
1195   29445.487419       36000.0
7606   17658.522237       17000.0
7628   11006.586022       11000.0
10910   9625.666020        8600.0

[2402 rows x 2 columns]

In [80]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

2255.096788278423

## Tune hyperparams

In [85]:
model = CatBoostRegressor(iterations=1000, cat_features=cat_features, verbose=500)

In [88]:
grid = {'learning_rate': [0.01, 0.03, 0.06, 0.1],
        'depth': [4, 6, 8, 10],
        'l2_leaf_reg': [1, 3, 5, 7, 9]}

In [89]:
randomized_search_result = model.randomized_search(grid,
            X_text,
            y_from,
            cv=5,
            shuffle=True,
            train_size=0.8)

0:	learn: 16518.0534390	test: 16608.4874799	best: 16608.4874799 (0)	total: 22.3ms	remaining: 22.3s
500:	learn: 2730.7901101	test: 2692.7155138	best: 2692.7155138 (500)	total: 10s	remaining: 9.98s
999:	learn: 2334.5574019	test: 2322.3484876	best: 2322.3484876 (999)	total: 20.5s	remaining: 0us

bestTest = 2322.348488
bestIteration = 999

0:	loss: 2322.3484876	best: 2322.3484876 (0)	total: 20.9s	remaining: 3m 8s
0:	learn: 16989.2166957	test: 17081.4124930	best: 17081.4124930 (0)	total: 19.6ms	remaining: 19.5s
500:	learn: 3171.1855995	test: 3139.3051664	best: 3139.3051664 (500)	total: 13.3s	remaining: 13.2s
999:	learn: 2766.1880593	test: 2744.6953879	best: 2744.6953879 (999)	total: 23.4s	remaining: 0us

bestTest = 2744.695388
bestIteration = 999

1:	loss: 2744.6953879	best: 2322.3484876 (0)	total: 44.4s	remaining: 2m 57s
0:	learn: 15892.3306667	test: 15980.3039347	best: 15980.3039347 (0)	total: 40.6ms	remaining: 40.6s
500:	learn: 2010.3383450	test: 2081.4270043	best: 2081.4270043 (500)	total: 20.2s	remaining: 20.1s
999:	learn: 1590.3605841	test: 1775.9266257	best: 1775.9266257 (999)	total: 40.6s	remaining: 0us

bestTest = 1775.926626
bestIteration = 999

2:	loss: 1775.9266257	best: 1775.9266257 (2)	total: 1m 25s	remaining: 3m 18s
0:	learn: 17303.6375770	test: 17397.0279259	best: 17397.0279259 (0)	total: 36.1ms	remaining: 36s
500:	learn: 3513.6709287	test: 3480.0022249	best: 3480.0022249 (500)	total: 19.2s	remaining: 19.1s
999:	learn: 3095.2519223	test: 3045.2797462	best: 3045.2797462 (999)	total: 38.3s	remaining: 0us

bestTest = 3045.279746
bestIteration = 999

3:	loss: 3045.2797462	best: 1775.9266257 (2)	total: 2m 3s	remaining: 3m 5s
0:	learn: 15894.0464385	test: 15981.9804910	best: 15981.9804910 (0)	total: 36ms	remaining: 35.9s
500:	learn: 2136.7378981	test: 2177.8783433	best: 2177.8783433 (500)	total: 24.1s	remaining: 24s
999:	learn: 1743.8352738	test: 1878.4990616	best: 1878.4990616 (999)	total: 44.5s	remaining: 0us

bestTest = 1878.499062
bestIteration = 999

4:	loss: 1878.4990616	best: 1775.9266257 (2)	total: 2m 47s	remaining: 2m 47s
0:	learn: 16989.6540796	test: 17081.7828736	best: 17081.7828736 (0)	total: 41.6ms	remaining: 41.5s
500:	learn: 2887.3168533	test: 2850.9725649	best: 2850.9725649 (500)	total: 18.4s	remaining: 18.3s
999:	learn: 2470.5657573	test: 2469.9268595	best: 2469.9268595 (999)	total: 38.6s	remaining: 0us

bestTest = 2469.92686
bestIteration = 999

5:	loss: 2469.9268595	best: 1775.9266257 (2)	total: 3m 26s	remaining: 2m 17s
0:	learn: 16519.6862879	test: 16609.9525510	best: 16609.9525510 (0)	total: 36ms	remaining: 35.9s
500:	learn: 2478.1912653	test: 2488.2639880	best: 2488.2639880 (500)	total: 18.7s	remaining: 18.6s
999:	learn: 2098.9065630	test: 2155.2840446	best: 2155.2840446 (999)	total: 39.3s	remaining: 0us

bestTest = 2155.284045
bestIteration = 999

6:	loss: 2155.2840446	best: 1775.9266257 (2)	total: 4m 5s	remaining: 1m 45s
0:	learn: 16511.2510273	test: 16603.6593709	best: 16603.6593709 (0)	total: 93.3ms	remaining: 1m 33s
500:	learn: 1906.8558517	test: 2013.4942722	best: 2013.4835984 (499)	total: 52.3s	remaining: 52.1s
999:	learn: 1422.4435490	test: 1662.4871164	best: 1662.4871164 (999)	total: 1m 43s	remaining: 0us

bestTest = 1662.487116
bestIteration = 999

7:	loss: 1662.4871164	best: 1662.4871164 (7)	total: 5m 49s	remaining: 1m 27s
0:	learn: 16986.4635161	test: 17079.7727153	best: 17079.7727153 (0)	total: 90.3ms	remaining: 1m 30s
500:	learn: 2535.1465547	test: 2531.3613300	best: 2531.3613300 (500)	total: 50.1s	remaining: 49.9s
999:	learn: 2061.8250731	test: 2122.4716429	best: 2122.4716429 (999)	total: 1m 41s	remaining: 0us

bestTest = 2122.471643
bestIteration = 999

8:	loss: 2122.4716429	best: 1662.4871164 (7)	total: 7m 31s	remaining: 50.2s
0:	learn: 17303.0037027	test: 17396.7765071	best: 17396.7765071 (0)	total: 172ms	remaining: 2m 51s
500:	learn: 3314.6916052	test: 3262.9938972	best: 3262.9938972 (500)	total: 48.6s	remaining: 48.4s
999:	learn: 2881.7895294	test: 2831.1982919	best: 2831.1982919 (999)	total: 1m 39s	remaining: 0us

bestTest = 2831.198292
bestIteration = 999

9:	loss: 2831.1982919	best: 1662.4871164 (7)	total: 9m 11s	remaining: 0us
Estimating final quality...
Training on fold [0/5]
0:	learn: 16546.2971150	test: 16425.1919179	best: 16425.1919179 (0)	total: 85.7ms	remaining: 1m 25s
500:	learn: 1862.5303372	test: 2824.5468700	best: 2824.5468700 (500)	total: 45.6s	remaining: 45.4s
999:	learn: 1400.4785670	test: 2536.9743956	best: 2536.9743956 (999)	total: 1m 32s	remaining: 0us

bestTest = 2536.974396
bestIteration = 999

Training on fold [1/5]
0:	learn: 16515.5048309	test: 16575.3985239	best: 16575.3985239 (0)	total: 14.5ms	remaining: 14.5s
500:	learn: 1836.7939579	test: 2919.4095384	best: 2919.4095384 (500)	total: 45s	remaining: 44.8s
999:	learn: 1388.9019173	test: 2626.8758950	best: 2626.8758950 (999)	total: 1m 29s	remaining: 0us

bestTest = 2626.875895
bestIteration = 999

Training on fold [2/5]
0:	learn: 16511.9987334	test: 16619.4687060	best: 16619.4687060 (0)	total: 106ms	remaining: 1m 45s
500:	learn: 1837.2452915	test: 2121.7891390	best: 2121.7758362 (499)	total: 48.5s	remaining: 48.3s
999:	learn: 1378.7893376	test: 1799.0095634	best: 1799.0095634 (999)	total: 1m 39s	remaining: 0us

bestTest = 1799.009563
bestIteration = 999

Training on fold [3/5]
0:	learn: 16558.0523302	test: 16414.8916817	best: 16414.8916817 (0)	total: 57ms	remaining: 56.9s
500:	learn: 1886.8398331	test: 1968.5502593	best: 1968.5502593 (500)	total: 52.6s	remaining: 52.4s
999:	learn: 1400.8335986	test: 1650.8618574	best: 1650.8618574 (999)	total: 1m 43s	remaining: 0us

bestTest = 1650.861857
bestIteration = 999

Training on fold [4/5]
0:	learn: 16512.2343250	test: 16611.6793209	best: 16611.6793209 (0)	total: 13.6ms	remaining: 13.6s
500:	learn: 1878.8219572	test: 2001.0779529	best: 2001.0779529 (500)	total: 47.8s	remaining: 47.6s
999:	learn: 1400.0778152	test: 1661.3904656	best: 1661.3904656 (999)	total: 1m 38s	remaining: 0us

bestTest = 1661.390466
bestIteration = 999

In [92]:
params = randomized_search_result['params']

In [93]:
params

{'depth': 8, 'l2_leaf_reg': 1, 'learning_rate': 0.06}

In [99]:
model = CatBoostRegressor(iterations=2000, cat_features=cat_features, verbose=500, **params)

In [100]:
model.fit(X_text_from_train, y_from_train, eval_set=(X_text_from_valid, y_from_valid))

0:	learn: 6236.8594592	test: 6032.1097328	best: 6032.1097328 (0)	total: 93.6ms	remaining: 3m 7s
500:	learn: 1850.4797128	test: 1918.8568847	best: 1918.8568847 (500)	total: 49.6s	remaining: 2m 28s
1000:	learn: 1391.6672163	test: 1608.6360635	best: 1608.6360635 (1000)	total: 1m 39s	remaining: 1m 38s
1500:	learn: 1132.3558325	test: 1483.3294384	best: 1483.3294384 (1500)	total: 2m 30s	remaining: 49.9s
1999:	learn: 955.8485442	test: 1409.3464562	best: 1409.3464562 (1999)	total: 3m 19s	remaining: 0us

bestTest = 1409.346456
bestIteration = 1999

In [101]:
y_from_pred = model.predict(X_text_from_valid)

In [102]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   21352.123661       21000.0
10643   8539.259097        8500.0
9351   21638.650677       25000.0
7872   18320.901113       17000.0
360    15568.144970       20800.0
...             ...           ...
5786   23527.333565       28000.0
1195   32734.913282       36000.0
7606   17478.773009       17000.0
7628   10545.483678       11000.0
10910   9874.807305        8600.0

[2402 rows x 2 columns]

In [103]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1947.9040547802526

In [104]:
model.save_model('catboost_1')

In [109]:
model = CatBoostRegressor(iterations=15000, cat_features=cat_features, verbose=500, **params)

In [110]:
model.fit(X_text_from_train, y_from_train, eval_set=(X_text_from_valid, y_from_valid))

0:	learn: 6236.8594592	test: 6032.1097328	best: 6032.1097328 (0)	total: 96.3ms	remaining: 24m 4s
500:	learn: 1850.4797128	test: 1918.8568847	best: 1918.8568847 (500)	total: 50.4s	remaining: 24m 19s
1000:	learn: 1391.6672163	test: 1608.6360635	best: 1608.6360635 (1000)	total: 1m 39s	remaining: 23m 16s
1500:	learn: 1132.3558325	test: 1483.3294384	best: 1483.3294384 (1500)	total: 2m 29s	remaining: 22m 25s
2000:	learn: 955.3488437	test: 1408.9850070	best: 1408.9850070 (2000)	total: 3m 20s	remaining: 21m 40s
2500:	learn: 823.4649912	test: 1368.1856207	best: 1368.1856207 (2500)	total: 4m 9s	remaining: 20m 49s
3000:	learn: 721.4862069	test: 1336.9812138	best: 1336.9094921 (2997)	total: 4m 59s	remaining: 19m 56s
3500:	learn: 639.7413825	test: 1313.4686883	best: 1313.3952086 (3492)	total: 5m 48s	remaining: 19m 4s
4000:	learn: 571.5523122	test: 1296.3299633	best: 1296.2136824 (3998)	total: 6m 39s	remaining: 18m 16s
4500:	learn: 512.4095700	test: 1281.1051032	best: 1281.1051032 (4500)	total: 7m 28s	remaining: 17m 26s
5000:	learn: 464.4801682	test: 1271.4995507	best: 1271.4995507 (5000)	total: 8m 18s	remaining: 16m 36s
5500:	learn: 420.6730983	test: 1262.9658267	best: 1262.9468979 (5499)	total: 9m 8s	remaining: 15m 46s
6000:	learn: 383.0405806	test: 1256.6354555	best: 1256.6354555 (6000)	total: 9m 57s	remaining: 14m 55s
6500:	learn: 352.5855263	test: 1252.1261962	best: 1252.0926315 (6498)	total: 10m 48s	remaining: 14m 7s
7000:	learn: 325.8126046	test: 1248.0371519	best: 1248.0371519 (7000)	total: 11m 36s	remaining: 13m 16s
7500:	learn: 302.8953715	test: 1245.3904384	best: 1245.3798104 (7495)	total: 12m 25s	remaining: 12m 25s
8000:	learn: 280.2663420	test: 1242.1055662	best: 1242.1055662 (8000)	total: 13m 15s	remaining: 11m 35s
8500:	learn: 261.3204931	test: 1239.4196685	best: 1239.4106152 (8499)	total: 14m 5s	remaining: 10m 46s
9000:	learn: 244.6867571	test: 1237.1852843	best: 1237.1852843 (9000)	total: 14m 54s	remaining: 9m 56s
9500:	learn: 229.2908636	test: 1235.9107096	best: 1235.8368989 (9479)	total: 15m 43s	remaining: 9m 6s
10000:	learn: 214.7609382	test: 1234.9255510	best: 1234.8818091 (9997)	total: 16m 32s	remaining: 8m 16s
10500:	learn: 202.0825846	test: 1233.9585854	best: 1233.9441841 (10481)	total: 17m 22s	remaining: 7m 26s
11000:	learn: 190.0776629	test: 1233.0741555	best: 1233.0741555 (11000)	total: 18m 11s	remaining: 6m 36s
11500:	learn: 179.6495294	test: 1232.1620044	best: 1232.0630229 (11468)	total: 18m 59s	remaining: 5m 46s
12000:	learn: 169.5711198	test: 1231.3766933	best: 1231.3204468 (11978)	total: 19m 48s	remaining: 4m 57s
12500:	learn: 160.3540005	test: 1230.7519914	best: 1230.7315291 (12495)	total: 20m 40s	remaining: 4m 7s
13000:	learn: 152.1342635	test: 1230.2666719	best: 1230.2627114 (12999)	total: 21m 28s	remaining: 3m 18s
13500:	learn: 144.4986766	test: 1229.8228399	best: 1229.8228399 (13500)	total: 22m 16s	remaining: 2m 28s
14000:	learn: 136.9647081	test: 1229.1280316	best: 1229.1062836 (13984)	total: 23m 4s	remaining: 1m 38s
14500:	learn: 130.5125212	test: 1228.9252887	best: 1228.8752606 (14449)	total: 23m 53s	remaining: 49.3s
14999:	learn: 124.0742827	test: 1228.7254211	best: 1228.6886709 (14975)	total: 24m 42s	remaining: 0us

bestTest = 1228.688671
bestIteration = 14975

Shrink model to first 14976 iterations.

In [114]:
model.save_model('catboost_2')

In [111]:
y_from_pred = model.predict(X_text_from_valid)

In [113]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   20935.171976       21000.0
10643   8438.370548        8500.0
9351   21858.247404       25000.0
7872   17640.181673       17000.0
360    15897.997970       20800.0
...             ...           ...
5786   24046.739982       28000.0
1195   33467.121761       36000.0
7606   17024.055049       17000.0
7628   11088.978999       11000.0
10910   9927.834623        8600.0

[2402 rows x 2 columns]

In [112]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1746.498538891317

## RF

In [21]:
X_text = pd.DataFrame(np.hstack((X_ohe, text_sparse_matrix.toarray())))

In [22]:
X_text

,0,1,2,3,4,5,6,7,8,9,...,2639,2640,2641,2642,2643,2644,2645,2646,2647,2648
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
X_text_from_train, X_text_from_valid, y_from_train, y_from_valid = train_test_split(X_text, y_from, test_size=0.2, random_state=42)

In [24]:
X_text_to_train, X_text_to_valid, y_to_train, y_to_valid = train_test_split(X_text, y_to, test_size=0.2, random_state=42)

In [146]:
rf = RandomForestRegressor(n_estimators=300)

In [147]:
rf.fit(X_text_from_train, y_from_train)

RandomForestRegressor(n_estimators=300)

In [148]:
y_from_pred = rf.predict(X_text_from_valid)

In [149]:
pd.DataFrame({'y_from_pred': y_from_pred, 'y_from_valid': y_from_valid})

        y_from_pred  y_from_valid
7740   21000.000000       21000.0
10643   8500.000000        8500.0
9351   24843.200000       25000.0
7872   16946.466667       17000.0
360    12110.833333       20800.0
...             ...           ...
5786   27936.533333       28000.0
1195   24662.433333       36000.0
7606   16140.320000       17000.0
7628   11096.333333       11000.0
10910   8684.333333        8600.0

[2402 rows x 2 columns]

In [150]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1592.3523102691113

## Try different hyperparameters

In [43]:
rf = RandomForestRegressor(n_estimators=100)

In [44]:
rf.fit(X_text_from_train, y_from_train)

RandomForestRegressor()

In [45]:
y_from_pred = rf.predict(X_text_from_valid)

In [46]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1594.64084480068

In [36]:
rf = RandomForestRegressor(n_estimators=600)

In [37]:
rf.fit(X_text_from_train, y_from_train)

RandomForestRegressor(n_estimators=600)

In [38]:
y_from_pred = rf.predict(X_text_from_valid)

In [39]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1595.1121120359387

In [21]:
rf = RandomForestRegressor(n_estimators=1000)

In [22]:
rf.fit(X_text_from_train, y_from_train)

RandomForestRegressor(n_estimators=1000)

In [23]:
y_from_pred = rf.predict(X_text_from_valid)

In [24]:
# overfits
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1600.7506888724788

## Tune hyperparams

In [25]:
rf = RandomForestRegressor()

In [29]:
grid = {'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [100, 200, 300]}

In [39]:
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = grid, n_iter = 20, cv = 5, random_state=42, n_jobs = -1)

In [41]:
rf_random.fit(X_text, y_from)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(max_depth=70,
                                                   max_features='sqrt',
                                                   n_estimators=300),
                   n_iter=20, n_jobs=-1,
                   param_distributions={'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [100, 200, 300]},
                   random_state=42)

In [42]:
rf_random.best_params_

{'n_estimators': 300,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': 90}

In [47]:
rf_best = rf_random.best_estimator_

In [48]:
y_from_pred = rf_best.predict(X_text_from_valid)

In [49]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

702.5530263271226

In [43]:
params = {'n_estimators': 300,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'sqrt',
 'max_depth': 90}

In [44]:
rf = RandomForestRegressor(**params)

In [45]:
rf.fit(X_text_from_train, y_from_train)

RandomForestRegressor(max_depth=90, max_features='sqrt', min_samples_split=5,
                      n_estimators=300)

In [46]:
y_from_pred = rf.predict(X_text_from_valid)

In [47]:
np.sqrt(mean_squared_error(y_from_pred, y_from_valid))

1629.6816747515322